@tailwind base;
@tailwind components;
@tailwind utilities;


body {

}


.bg {
    background-image: url('./ui/images/bg_shang.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}